:root{
    --dark-color: #edece8;
    --light-color: #faf5f5;
    --font-color: #737270;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif ;
    color: var(--font-color);
    font-size: 62.5%;
}

body{

    font-size: 1.5rem;
}

#root{
    max-width: 1340px;
    margin: 0 auto;
}
